{{! header }}
    <header>
      <div class="m-10">
        <div class="flex justify-center items-center text-center">
          <div>
            <h1 class="hero-section">Keeping you up to date with the latest tech
              news</h1>
          </div>
          <div>
            <img
              class="hand-point-down"
              src="/images/hand-pointing-down.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </header>
{{!-- loop over each object in the posts array --}}
<div class="mx-44">
  <div class="flex flex-wrap justify-center">
  {{#each posts as |post|}}
  <div class="">
    {{> postItem post}}
  </div>
  {{/each}}
</div>
</div>
{{#if loggedIn}}
<div>I AM LOGGED IN</div>
{{else}}
<div>I AM LOGGED OUT</div>
{{/if}}
