<h2>Login</h2>
<form action="">
  <div>
    <label for="">Username</label>
    <input type="text" />
  </div>
  <div>
    <label for="">Password:</label>
    <input type="text" />
  </div>
</form>
<a href="/signup">Sign Up</a>