<form class="login-form" action="">
  <div>
    <label for="username-login">Username</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <button type="submit">Submit</button>
</form>
<a href="/signup">Sign Up</a>
<script src="/js/login.js"></script>