{{! SIGN UP }}
<div class="custom-bg flex justify-center items-center">
  <form class="signup-form" action="">
    <div>
      <div class="my-8">
        <span class="text-3xl font-bold">Sign Up</span>
      </div>
      <div>
        {{! USERNAME SIGN UP }}
        <input
          class="p-4 m-2 input-field"
          type="text"
          placeholder="username"
          id="username-signup"
        />
      </div>
      <div>
        {{! PASSWORD SIGN UP }}
        <input
          placeholder="password"
          class="p-4 m-2 input-field"
          type="password"
          id="password-signup"
        />
      </div>
    </div>
    <div class="flex justify-center mt-5">
      {{! SUBMIT BUTTON }}
      <button
        type="submit"
        class="text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
      >Sign Up</button>
    </div>
    {{! LOGIN LINK }}
    <div class="mt-4">
      <span>Already have an account?</span>
      <a class="font-bold" href="/login">Login</a>
    </div>
  </form>
</div>
<script src="/js/signup.js"></script>